.project_plan_box {
    width: 55%;
    /* background-color: var(--color-bg-variant); */
    padding: 1.2rem 0;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2rem;
    background-color: var(--color-bg-variant);
    transition: var(--transition);
    margin-top: -2rem;
}
.project_plan_box >h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;

}
.plan_structure_img {
    width: 50%;
    display: inline-block;
}
.project_plan_box:hover {
    background-color: transparent;
    border: 1px solid var(--color-bg-variant);
}